:root {
  --main-bg-color: linear-gradient(to right, #fc4a1a, #f7b733);
  --secondary-bg-color: rgb(243, 236, 236);
  --primary-font: white;
}
/* Defining variable */

body {
  background: var(--main-bg-color);
  font-family: "Roboto";
}

.content {
  display: flex;
  margin: 10% 0 0 13%;
}

.join {
  color: var(--primary-font);
  text-align: center;
  width: 36%;
  margin-top: 50px;
}

.about {
  border-radius: 60px;
  padding: 13px 20px 13px 20px;
  border: none;
}

.join h1 {
  transform: rotate(90deg) scale(2, 2.5);
  margin-bottom: 36px;
}

.round {
  width: 8%;
  background-color: var(--secondary-bg-color);
  border-radius: 50% 0 0 50%;
  margin-left: 45px;
}
.formcontent {
  text-align: center;
}

input {
  margin-bottom: 15px;
}
.formcontent h2 {
  margin: 50px 0 30px 0;
}

.formcontent input:not(:last-child) {
  width: 85%;
  padding: 5px 0 5px 0;
  margin-right: 100px;
}

.formcontent input:last-child {
  background-color: orange;
  width: 120px;
  border-radius: 60px;
  padding: 13px 25px 13px 25px;
  border: none;
  float: right;
  margin: 20px 50px 20px 0;
  color: white;
  font-weight: bold;
}

.register {
  background: var(--secondary-bg-color);
  width: 40%;
}

@media only screen and (max-width: 600px) {
  .content {
    padding: 0;
    margin: 0;
    display: block;
  }
  .join {
    margin: 55px auto;
    width: 90%;
  }

  .register {
    width: 75%;
    margin: auto;
  }

  .formcontent input:last-child {
    float: none;
  }

  .formcontent input:not(:last-child) {
    margin: 5px 0;
  }

  .formcontent h2 {
    padding-top: 35px;
  }

  .formcontent input:last-child {
    margin: 10px 0;
  }
}
